.registro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/images/ley.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .registro-form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .registro-input {
    margin-bottom: 10px;
  }
  
  .registro-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .registro-input input,
  .registro-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .registro-button {
    background-color: #3e3636;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registro-button:hover {
    background-color: #0056b3;
  }
  
  .registro-error {
    color: red;
    margin-top: 10px;
  }
  
  .registro-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .registro-back-button {
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }  