/* Estilos para el componente Login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/images/cd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo-i{
    width: 80px;
    height: 80px;
  }
  
  .login-form {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-input {
    margin-bottom: 10px;
  }
  
  .login-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .login-input input,
  .login-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-button {
    background-color: #3e3636;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .login-error {
    color: red;
    margin-top: 10px;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-back-button {
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .login-link{
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }